<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success row ">

                        <ul class="nav nav-tabs " id="myTab" role="tablist">
                            <li class="nav-item mr-5">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Fournisseur"
                                    role="tab" aria-controls="home" aria-selected="true">Liste Facture </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#favoris" role="tab"
                                    aria-controls="profile" aria-selected="false">Consulter Facture </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active mt-5" id="Fournisseur" role="tabpanel"
                            aria-labelledby="home-tab">
                            <div class="card-body">
                                <div class="col-md-10">
                                    <div class="rounded">
                                        <div class="table-responsive table-borderless">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">S. No.</th>
                                                        <th>Order #</th>
                                                        <th>Company name</th>
                                                        <th>status</th>
                                                        <th>Total</th>
                                                        <th>Created</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-body">
                                                    <tr class="cell-1" data-toggle="collapse" data-target="#demo">
                                                        <td class="text-center">1</td>
                                                        <td>#SO-13487</td>
                                                        <td>Gasper Antunes</td>
                                                        <td><span class="badge badge-danger">Fullfilled</span></td>
                                                        <td>$2674.00</td>
                                                        <td>Today</td>
                                                        <td class="table-elipse" data-toggle="collapse"
                                                            data-target="#demo"><i
                                                                class="fa fa-ellipsis-h text-black-50"></i></td>
                                                    </tr>
                                                    <tr id="demo" class="collapse cell-1 row-child">
                                                        <td class="text-center" colspan="1"><i
                                                                class="fa fa-angle-up"></i></td>
                                                        <td colspan="1">Product&nbsp;</td>
                                                        <td colspan="3">iphone SX with ratina display</td>
                                                        <td colspan="1">QTY</td>
                                                        <td colspan="2">2</td>
                                                    </tr>
                                                
                                                    <tr class="cell-1" data-toggle="collapse" data-target="#demo-2">
                                                        <td class="text-center">2</td>
                                                        <td>#SO-13488</td>
                                                        <td>Tinder Steel</td>
                                                        <td><span class="badge badge-success">Fullfilled</span></td>
                                                        <td>$3664.00</td>
                                                        <td>Yesterday</td>
                                                        <td class="table-elipse" data-toggle="collapse"
                                                            data-target="#demo"><i
                                                                class="fa fa-ellipsis-h text-black-50"></i></td>
                                                    </tr>
                                                    <tr id="demo-2" class="collapse cell-1 row-child">
                                                        <td class="text-center" colspan="1"><i
                                                                class="fa fa-angle-up"></i></td>
                                                        <td colspan="1">Product&nbsp;</td>
                                                        <td colspan="3">iphone SX with ratina display</td>
                                                        <td colspan="1">QTY</td>
                                                        <td colspan="2">2</td>
                                                    </tr>
                                                    <tr class="cell-1" data-toggle="collapse" data-target="#demo-3">
                                                        <td class="text-center">3</td>
                                                        <td>#SO-13489</td>
                                                        <td>Micro Steel</td>
                                                        <td><span class="badge badge-success">Placed</span></td>
                                                        <td>$2674.00</td>
                                                        <td>March 20, 2020</td>
                                                        <td class="table-elipse" data-toggle="collapse"
                                                            data-target="#demo"><i
                                                                class="fa fa-ellipsis-h text-black-50"></i></td>
                                                    </tr>
                                                    <tr id="demo" class="collapse cell-1 row-child">
                                                        <td class="text-center" colspan="1"><i
                                                                class="fa fa-angle-up"></i></td>
                                                        <td colspan="1">Product&nbsp;</td>
                                                        <td colspan="3">iphone SX with ratina display</td>
                                                        <td colspan="1">QTY</td>
                                                        <td colspan="2">2</td>
                                                    </tr>
                                                    <tr class="cell-1" data-toggle="collapse" data-target="#demo-4">
                                                        <td class="text-center">4</td>
                                                        <td>#SO-13490</td>
                                                        <td>B Mobiles</td>
                                                        <td><span class="badge badge-success">Delivered</span></td>
                                                        <td>$4674.00</td>
                                                        <td>March 22, 2020</td>
                                                        <td class="table-elipse" data-toggle="collapse"
                                                            data-target="#demo"><i
                                                                class="fa fa-ellipsis-h text-black-50"></i></td>
                                                    </tr>
                                                    <tr id="demo-4" class="collapse cell-1 row-child">
                                                        <td class="text-center" colspan="1"><i
                                                                class="fa fa-angle-up"></i></td>
                                                        <td colspan="1">Product&nbsp;</td>
                                                        <td colspan="3">iphone SX with ratina display</td>
                                                        <td colspan="1">QTY</td>
                                                        <td colspan="2">2</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="favoris" role="tabpanel" aria-labelledby="home-tab">
                            <app-affich-facture></app-affich-facture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>