<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">User</p>
                        <h3 class="card-title"> {{dashbord.countUser}}

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Fournisseur</p>
                        <h3 class="card-title"> {{dashbord.countFournisseur}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Product</p>
                        <h3 class="card-title">{{dashbord.countProduit}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Commande</p>
                        <h3 class="card-title">{{dashbord.countCommande}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Last category</h4>
                        <ul>
                            <li class="nav-item" *ngFor="let produitRow of dashbord.lastcategry; let i=index">
                                <div mat-button class="nav-link active" data-toggle="tab">
                                    {{produitRow.nameCat}}
                                    <div class="ripple-container"></div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Last Fournisseur:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item"
                                        *ngFor="let produitRow of dashbord.lastfournisseur; let i=index">
                                        <div mat-button class="nav-link active" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> {{produitRow.nameFournisseur}}
                                            <div class="ripple-container"></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Last Commande</h4>

                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>refCommande</th>
                                <th>montant_total</th>
                                <th>date_commande</th>
                                <th>client</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let produitRow of dashbord.lastCommande; let i=index">
                                    <td>{{produitRow.refCommande}}</td>
                                    <td>{{produitRow.montant_total}}</td>
                                    <td>{{produitRow.date_commande}}</td>
                                    <td>{{produitRow.client.nameClient}}</td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>